# <p style="text-align: center;">Weater EDA   </p>

## Import libraries

In [35]:
import pandas as pd
import numpy as np

import glob
import os

import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

#import datetime as dt

## Set parameters

In [36]:
decree_filename_base = 'arrete_'
decrees_folder_name = './../../data/raw/decrees'
processed_data_folder_name = './../../data/processed'
decrees_filename = 'decrees.parquet'
decrees_filename_clean = 'decrees_clean.parquet'

In [37]:
weather_filename_base_head = 'MENSQ_'
tail_filename_base_tail = '_previous-1950-2022.csv'
weather_folder_name = './../../data/raw/weather/mensq/1950-2022'
processed_data_folder_name = './../../data/processed'
weather_filename = 'weather.parquet'
weather_filename_clean = 'weather_clean.parquet'

## Concatenate all decrees csv files into one dataframe

In [38]:
# concatenate all decrees csv files into one dataframe

path = weather_folder_name  # Specify your folder path
all_files = glob.glob(os.path.join(path, "*.csv"))
all_files.sort()
#all_files = all_files[:2]
dfs = [pd.read_csv(filename, index_col=None, header=0, sep=';') for filename in all_files]
df = pd.concat(dfs, axis=0, ignore_index=True)

In [50]:
df

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMM,RR,QRR,NBRR,RR_ME,...,QNEIGETOTAB,NEIGETOTABDAT,NBJNEIGETOT1,NBJNEIGETOT10,NBJNEIGETOT30,NBJGREL,NBJORAG,NBJBROU,latitude,longitude
0,11004001,ALAIGNE,43.112500,2.098333,293,1971-01-01,85.1,1.0,31.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000043,0.000002
1,11004001,ALAIGNE,43.112500,2.098333,293,1971-02-01,76.7,1.0,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000043,0.000002
2,11004001,ALAIGNE,43.112500,2.098333,293,1971-03-01,110.5,1.0,31.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000043,0.000002
3,11004001,ALAIGNE,43.112500,2.098333,293,1971-04-01,55.1,1.0,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000043,0.000002
4,11004001,ALAIGNE,43.112500,2.098333,293,1971-05-01,62.7,1.0,31.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000043,0.000002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86847,48198001,VILLEFORT,44.441667,3.928333,620,2022-08-01,57.7,1.0,31.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000044,0.000004
86848,48198001,VILLEFORT,44.441667,3.928333,620,2022-09-01,90.5,1.0,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000044,0.000004
86849,48198001,VILLEFORT,44.441667,3.928333,620,2022-10-01,164.0,1.0,31.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000044,0.000004
86850,48198001,VILLEFORT,44.441667,3.928333,620,2022-11-01,118.9,1.0,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000044,0.000004
86851,48198001,VILLEFORT,44.441667,3.928333,620,2022-12-01,173.2,1.0,31.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000044,0.000004

## Columns type

In [40]:
print(df.dtypes)
print(df.dtypes.unique())

NUM_POSTE          int64
NOM_USUEL         object
LAT              float64
LON              float64
ALTI               int64
                  ...
NBJNEIGETOT10    float64
NBJNEIGETOT30    float64
NBJGREL          float64
NBJORAG          float64
NBJBROU          float64
Length: 162, dtype: object
[dtype('int64') dtype('O') dtype('float64')]

In [41]:
df.columns

Index(['NUM_POSTE', 'NOM_USUEL', 'LAT', 'LON', 'ALTI', 'AAAAMM', 'RR', 'QRR',
       'NBRR', 'RR_ME',
       ...
       'QNEIGETOTM', 'NEIGETOTAB', 'QNEIGETOTAB', 'NEIGETOTABDAT',
       'NBJNEIGETOT1', 'NBJNEIGETOT10', 'NBJNEIGETOT30', 'NBJGREL', 'NBJORAG',
       'NBJBROU'],
      dtype='object', length=162)

In [49]:
df['AAAAMM'] = pd.to_datetime(df['AAAAMM'], format='%Y%m')

In [42]:
o_columns = df.select_dtypes(include=['object']).columns
print("Columns of type Object:", o_columns)

Columns of type Object: Index(['NOM_USUEL'], dtype='object')

In [43]:
df['NOM_USUEL']

0          ALAIGNE
1          ALAIGNE
2          ALAIGNE
3          ALAIGNE
4          ALAIGNE
           ...
86847    VILLEFORT
86848    VILLEFORT
86849    VILLEFORT
86850    VILLEFORT
86851    VILLEFORT
Name: NOM_USUEL, Length: 86852, dtype: object

In [44]:
## convert ALT, LON to GPS Coordinate

In [45]:
df['latitude'] = df['LAT']/1_000_000
df['longitude'] = df['LON']/1_000_000

In [ ]:
## missing values

In [47]:

# Assuming df is your DataFrame
missing_values_count = df.isnull().sum()
missing_values_percentage = (df.isnull().sum() / len(df)) * 100

# Combine the counts and percentages into a single DataFrame
missing_data = pd.DataFrame({'Missing Values': missing_values_count, 'Percentage': missing_values_percentage})

print(missing_data)

           Missing Values  Percentage
NUM_POSTE               0    0.000000
NOM_USUEL               0    0.000000
LAT                     0    0.000000
LON                     0    0.000000
ALTI                    0    0.000000
...                   ...         ...
NBJGREL             78409   90.278865
NBJORAG             53238   61.297379
NBJBROU             53819   61.966334
latitude                0    0.000000
longitude               0    0.000000

[164 rows x 2 columns]

In [48]:
missing_data.to_csv('missing_data.csv', index=True)

In [51]:
# Filter rows with year between 2010 and 2022
filtered_df = df[(df['AAAAMM'].dt.year >= 2010) & (df['AAAAMM'].dt.year <= 2022)]

In [54]:

# Assuming df is your DataFrame
missing_values_count = filtered_df.isnull().sum()
missing_values_percentage = (filtered_df.isnull().sum() / len(filtered_df)) * 100

# Combine the counts and percentages into a single DataFrame
missing_data = pd.DataFrame({'Missing Values': missing_values_count, 'Percentage': missing_values_percentage})

print(missing_data)

           Missing Values  Percentage
NUM_POSTE               0    0.000000
NOM_USUEL               0    0.000000
LAT                     0    0.000000
LON                     0    0.000000
ALTI                    0    0.000000
...                   ...         ...
NBJGREL             12450   93.926820
NBJORAG              9102   68.668427
NBJBROU              9546   72.018106
latitude                0    0.000000
longitude               0    0.000000

[164 rows x 2 columns]

In [55]:
missing_data.to_csv('missing_data_2010-2022.csv', index=True)

In [56]:
df['QRR'].describe()

count    86110.000000
mean         1.117025
std          0.960639
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          9.000000
Name: QRR, dtype: float64

In [57]:
df['QRR'].value_counts()

QRR
1.0    84847
9.0     1260
0.0        3
Name: count, dtype: int64